<%- include('../common/head.ejs') %>
  <%- include('../common/navbar.ejs') %>


    <section class="text-gray-600 body-font">
      <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
        <div
          class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
          <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 font-bold">Innovative Waste
            Management for
            <br class="hidden lg:inline-block">Cleaner Tomorrow
          </h1>
          <p class="mb-8 leading-relaxed">SmartTrash revolutionizes waste management with smart technology and
            sustainable practices. Efficient sorting and processing reduce environmental impact and promote recycling,
            transforming waste into valuable resources for a cleaner, greener future</p>
          <div class="flex justify-center">
            <a href="/login">
              <button
                class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Login</button>
            </a>
            <a href="/signup">
              <button
                class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Signup</button>
            </a>
          </div>
        </div>
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
          <img class="object-cover object-center rounded" alt="hero" src="/images/homepage.jpg">
        </div>
      </div>
    </section>


    <section class="text-gray-600 body-font">
      <div class="container px-5 pt-8 mx-auto">
        <div class="text-center mb-20">
          <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Transforming Waste into Wealth, One
            Step at a Time</h1>
          <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s">Every day, millions of tons of
            waste are generated around the world, creating significant environmental, health, and economic challenges.
            Our Waste Disposal Management Portal is here to help you understand, manage, and reduce your waste footprint
            with effective solutions and tools. We aim to promote sustainable waste management practices that protect
            our environment and promote a healthier community.</p>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
          </div>
        </div>
        <div class="container px-5   mx-auto flex flex-wrap">
          <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">
            <img alt="feature" class="object-cover object-center w-full " src="/images/bin2.jpg">
          </div>
          <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
            <div class="flex flex-col mb-10 lg:items-start items-center">
              <div
                class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  class="w-6 h-6" viewBox="0 0 24 24">
                  <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                </svg>
              </div>
              <div class="flex-grow">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-3">
                  "Waste is Only Waste if We Waste It."</h2>
                <p class="leading-relaxed text-base">Proper waste disposal is crucial to maintaining a clean and healthy
                  environment. When waste is not managed correctly, it can lead to pollution of our air, water, and
                  soil, contributing to climate change and adversely affecting public health. "Clean communities start
                  with clean habits." By reducing pollution, saving resources, and enhancing public health, waste
                  management plays a vital role in creating a sustainable future.</p>
                <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="flex flex-col mb-10 lg:items-start items-center">
              <div
                class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  class="w-6 h-6" viewBox="0 0 24 24">
                  <circle cx="6" cy="6" r="3"></circle>
                  <circle cx="6" cy="18" r="3"></circle>
                  <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
                </svg>
              </div>
              <div class="flex-grow">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-3">"Reduce, Reuse, Recycle – The Three R's to
                  a Better Tomorrow."</h2>
                <p class="leading-relaxed text-base">Recycling and reusing materials conserves natural resources and
                  reduces energy consumption, building a circular economy where resources are regenerated to create
                  sustainable communities. "A sustainable future starts with every piece of waste we sort today.</p>
                <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="flex flex-col mb-10 lg:items-start items-center">
              <div
                class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  class="w-6 h-6" viewBox="0 0 24 24">
                  <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
              </div>
              <div class="flex-grow">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-3">"Knowledge is Power – Learn to Dispose
                  Wisely."</h2>
                <p class="leading-relaxed text-base">TOur portal offers educational resources on different types of
                  waste and the best disposal practices. You can also find local waste collection services, access
                  recycling tips, and connect with others in community forums to share ideas on waste reduction.
                  "Together, we can turn waste into opportunity." Use our tools to measure your waste footprint and get
                  personalized advice on reducing your impact.</p>
                <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="flex flex-col mb-10 lg:items-start items-center">
              <div
                class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  class="w-6 h-6" viewBox="0 0 24 24">
                  <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
              </div>
              <div class="flex-grow">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-3">"Change Begins in Our Bins."</h2>
                <p class="leading-relaxed text-base">Waste management is not just the responsibility of governments and
                  organizations; it's a collective effort. By adopting proper waste disposal practices, each of us can
                  contribute to a cleaner, healthier planet. Ready to make a difference? "Don't let waste go to waste!"
                  Sign up today and join the movement for a greener future where waste is minimized, resources are
                  conserved, and our environment thrives.</p>
                <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
    </section>






    <%- include('../common/footer.ejs') %>

      </body>

      </html>